* {
  font-family: sans-serif;
  background-color: #0F172A;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.78px;
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}

.halfdome-logo {
    width: 100px;
    height: auto;
}

.lottie-container {
    width: 530px;
    aspect-ratio: 2 / 1;
    margin: 0 auto
}

.lottie-container svg,
.lottie-container canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cards_container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px hsl(0%, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 400px;
    display: inline-block;
    color: white;
    letter-spacing: 1.78px;
    text-transform: uppercase;
}

.card h2 {
    background-color: inherit;
}

.card p {
    background-color: inherit;
}

.card_image {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
}

#easy_card {
    background-color: hsl(194, 100%, 52%);
}

#medium_card {
    background-color: hsl(0, 4%, 20%);
}

#hard_card {
    background-color: hsl(0, 94%, 51%);
}



footer {
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  list-style: none;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul{
    display: flex; 
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    margin-top: 20px;
}

.company_logos {
    width: 40px;
    height: auto;
    margin: 0 10px;
}

.social_media_icons {
  display: flex;           
  gap: 12px;               
  align-items: center;     
  justify-content: center; 
}