* {
  font-family: sans-serif;
  background-color: #0F172A;
}

header {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1.78px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.cards_container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px hsl(0%, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 400px;
    display: inline-block;
    color: white;
    letter-spacing: 1.78px;
    text-transform: uppercase;
}

.card h2 {
    background-color: inherit;
}

.card p {
    background-color: inherit;
}

.card_image {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
}

#easy_card {
    background-color: hsl(194, 100%, 52%);
}

#medium_card {
    background-color: hsl(0, 4%, 20%);
}

#hard_card {
    background-color: hsl(0, 94%, 51%);
}



footer {
  margin-top: 100px;
  color: white;
  text-align: center;
}