.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.easycard {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mediumcard {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hardcard {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: transparent;
    letter-spacing: 1.78px;
    color: gray;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 1.25rem;
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, .15), 0px 3px 0px 0px rgba(255, 255, 255, .15);
    text-transform: uppercase;
    transition: background-color 1.5s ease 1s;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.card * {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
}

.emoji {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.easycard {
    transition: color 0.2s ease 0.1s;
}

.mediumcard {
    transition: color 0.2s ease 0.1s; 
}

.hardcard {
    transition: color 0.2s ease 0.1s;
}

.easycard:hover {
    color: hsl(108, 93%, 72%);
}

.mediumcard:hover {
    color: hsl(61, 100%, 71%);
}

.hardcard:hover {
    color: hsl(0, 98%, 63%);
}

.easycard:hover .emoji {
    content: url(../assets/smiley_emoji.gif);
}

.mediumcard:hover .emoji {
    content: url(../assets/thinking_emoji.gif);
}

.hardcard:hover .emoji {
    content: url(../assets/demon_emoji.gif);
}

.cardLink {
  text-decoration: none;
  color: inherit; /* prevents blue link text */
}
