.card_container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}

.easycard {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: green;
}

.mediumcard {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: yellow;
}

.hardcard {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: red;
}

.emoji {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
}

.easy_card {
    transition: color 0.2s ease 0.1s;
}

.medium_card {
    transition: color 0.2s ease 0.1s; 
}

.hard_card {
    transition: color 0.2s ease 0.1s;
}

.easy_card:hover {
    color: hsl(108, 93%, 72%);
}

.medium_card:hover {
    color: hsl(61, 100%, 71%);
}

.hard_card:hover {
    color: hsl(0, 98%, 63%);
}

.easy_card:hover .emoji {
    content: url(../assets/smiley_emoji.gif);
}

.medium_card:hover .emoji {
    content: url(../assets/thinking_emoji.gif);
}

.hard_card:hover .emoji {
    content: url(../assets/demon_emoji.gif);
}