.block {
    background-color: #0F172A;
    width: 60vw;
    height: 80vh;
    margin: 0 auto;
    border: 6px rgba(3, 3, 3, 0.15) solid;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, .15), 0px 3px 0px 0px rgba(255, 255, 255, .15);
    min-width: 300px;
    max-width: 2000px;
    max-height: 1200px;
    min-height: 800px;
}

.container {
    display: grid;
    grid-template-rows: 1fr 0.4fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
}

.item_1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}

.item_2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 6;
}

.item_3 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 6;
}


.item_4 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 7;
}

.item_5 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 6;
    grid-column-end: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 40%;
    height: auto;
    opacity: 0.5;
}

